<div class="header-container">
  <div class="logo-container">
    @if (menu().length > 1) {
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    }
    <img src="logo-dark.svg">
    <div class="logo" (click)="navigateHome()">
      Omkar
    </div>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               nbContextMenuTag="user-menu"
               [onlyPicture]="userPictureOnly()"
               [name]="user.name"
               [picture]="user.img">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
